In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.neighbors import KNeighborsClassifier

In [6]:
from sklearn.metrics import accuracy_score

In [7]:
csv_file = pd.read_csv("C:/Users/Neerajan/Desktop/dataset.csv")

In [8]:
#make copy to avoid changing original data
new_csv_file = csv_file.copy()

In [9]:
new_csv_file.head(10)

,Loan_ID,Gender,Married,Dependents,Education,SelfEmployed,ApplicantIncome,CoapplicantIncome,LoanAmount,LoanAmountTerm,CreditHistory,PropertyArea,LoanStatus
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [10]:
new_csv_file.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
SelfEmployed         32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
LoanAmountTerm       14
CreditHistory        50
PropertyArea          0
LoanStatus            0
dtype: int64

In [11]:
mymap = {'3+':4, 'Male':0, 'Female':1, 'Yes':1, 'No':0, 'Graduate':1, 'Not Graduate':0, 'Rural':0, 'Urban':2, 'Semiurban':1, 'Y':1, 'N':0}
new_csv_file = new_csv_file.applymap(lambda s: mymap.get(s) if s in mymap else s)

In [12]:
clean_data = new_csv_file.fillna(new_csv_file.mean())

In [13]:
clean_data.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
SelfEmployed          0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
LoanAmountTerm        0
CreditHistory         0
PropertyArea          0
LoanStatus            0
dtype: int64

In [14]:
clean_data = clean_data.dropna()

In [15]:
clean_data.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
SelfEmployed         0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
LoanAmountTerm       0
CreditHistory        0
PropertyArea         0
LoanStatus           0
dtype: int64

In [16]:
x = clean_data.drop(['LoanStatus','Loan_ID'], axis = 1).values
y = clean_data['LoanStatus'].values

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.1, random_state=42, stratify = y)

In [18]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [19]:
prediction = knn.predict(X_test)
print("Prediction for test set: {}".format(prediction))

Prediction for test set: [0 1 1 1 1 1 1 0 1 1 0 0 0 1 1 1 1 1 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0
 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 1 1 1 1 1 1 1]

In [20]:
print('Score for the training set', knn.score(X_train, Y_train))

Score for the training set 0.7810760667903525

In [21]:
print('score for the test set',knn.score(X_test, Y_test))

score for the test set 0.6

In [22]:
print('Accuracy of the model', accuracy_score(Y_test, prediction))

Accuracy of the model 0.6

In [29]:
# Loan Result for a person earning 20000 and loan amount of 200:
new_data = np.array([[0.0, 0.0, 0.0, 1.0, 0.0, 20000, 0.0, 200, 120, 0.0, 2]]) 
knn.predict(new_data)

array([1], dtype=int64)

In [30]:
# Loan Result for a person earning 5000 and loan amount of 50000:
new_data = np.array([[0.0, 0.0, 0.0, 1.0, 0.0, 5000, 0.0, 50000, 240, 0.0, 2]]) 
knn.predict(new_data)

array([0], dtype=int64)